html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Goldman', cursive;
  background-color: white;
  padding: 2%;
  max-width: 850px;
  margin: auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.loginout {
  text-decoration: none;
  color: #3a3a3a;
}

.logdiv {
  text-align: right;
}

.hidden {
  display: none;
}

.navlist {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  background-color: #3a3a3a;
  padding: 0;
}

.navlist li {
  list-style: none;
  padding: 2%;
}

.navlist li a {
  font-size: .7em;
  text-decoration: none;
  color: white;
}

.navlist li:hover {
  background-color: #4c96d7;
}

.navlist li:hover a {
  color: #3a3a3a;
}

footer p {
  text-align: center;
  margin: 0;
}

footer p:first-child, .reviewhr {
  margin-top: 5%;
  border-top: 5px #3a3a3a solid;
  padding-top: 1%;
}

.delorean {
  max-width: 100%;
}

.deloreanp {
  margin-bottom: -10%;
  position: relative;
  z-index: 2;
  color: #4c96d7;
}

section p {
  margin: 0;
  padding: 0;
}

.deloreanp h2 {
  margin: 0;
  padding: 0;
  font-size: 1.2rem;
}

.buttondiv {
  text-align: center;
}

button {
  margin-top: 5%;
  background-color: #4c96d7;
  padding: 2% 5%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: larger;
}

.deloreanreviews ul li {
  line-height: 2;
}

.deloreanupgrades {
  display: flex;
  flex-wrap: wrap;
}

.deloreanupgradesfig {
  border: 2px solid black;
  width: 75px;
  height: 75px;
  margin: 3%;
}

figure {
  width: 45%;
  text-align: center;
  margin: 1%;
  flex-basis: 40%;
}

figcaption {
  text-decoration: underline;
}

.passrequirements {
  font-size: .8rem;
  font-weight: bold;
  color: crimson;
}

.success {
  color: rgb(91, 218, 79);
}

.error {
  color: crimson;
}

.table {
  width: 100%;
  margin: 1rem auto;
}

.detailstable {
  border: #4c96d7 3px solid;

}

.detailstable tr:nth-child(even) {
  background-color: #bababa;
}

.detailstable tr:hover {
  background-color: #a6cbeb;
}

.detailstable th {
  text-align: left;
  background-color: #4c96d7;
}

caption {
  text-align: left;
  font-size: 2rem;
}

th {
  font-size: 1.25rem;
}

td {
  padding: .5rem;
}

#inv-display {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

#inv-display li {
  margin: 0 auto .5em;
  border: 1px #ccc solid;
  list-style-type: none;
  flex: 1 1 auto;
  width: 200px;
}

#inv-display li p {
  margin: 0;
}

#inv-display li img {
  max-width: 100%;
}

#inv-display li>* {
  text-align: center;
}

hr {
  margin: 0;
}

.center {
  text-align: center;
}

.center img {
  max-width: 100%;
}

footer {
  clear: both;
}

.thumbnail {
  width: 100px;
  transition: transform .2s;
}

.thumbul {
  list-style-type: none;
}

ul {
  list-style: none;
}

.review {
  width: 100%;
}

.reviewlisttop {
padding-top: 2%;
}

.reviewlist {
  background-color: #a6cbeb;
  padding: 2%;
  margin-bottom: 1%;
  width: 100%;
}

.button {
  border:#bababa 1px solid;
  background-color: #ccc;
  padding: 1%;
}

.inline {
  display: inline;
  text-align: right;
  margin: 2%;
}

.align {
  text-align: right;
}

.inline a {
  text-decoration: none;
}

@media only screen and (min-width: 375px) {

  .navlist li a {
    font-size: .8rem;
  }
}

@media only screen and (min-width: 450px) {
  .navlist li a {
    font-size: 1rem;
  }
}

@media only screen and (min-width: 800px) {

  html {
    background-image: url(../images/site/checkerboard.jpg);
  }

  body {
    border: 5px solid #4c96d7;
    border-radius: 20px;
  }

  .navlist li a {
    font-size: 1.5rem;
  }

  .topcontainer {
    display: grid;
    grid-template: repeat(4, 1fr) / repeat(3, 1fr);
  }

  .deloreanp {
    grid-area: 1 / 1 / 2 / 2;
  }

  .delorean {
    grid-area: 2 / 1 / 5 / 4;
  }

  .buttondiv {
    grid-area: 2 / 1 / 3 / 2;
    text-align: start;
  }

  .bottomcontainer {
    display: grid;
    grid-template: auto / repeat(2, 1fr);
  }

  .upgradecontainer {
    grid-area: 1 / 1 / 2 / 2;
  }

  #inv-display {
    flex-flow: row wrap;
    justify-content: flex-start;
  }

  #inv-display h2 {
    font-size: 1rem;
  }

  #inv-display li {
    max-width: 200px;
    flex: 1 0 auto;
    text-align: center;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto .5em;
    padding-bottom: 2%;
  }

  #inv-display div {
    width: 100%;
  }

  .float {
    float: left;
  }

  .thumbnail:hover {
    transform: scale(2.5);
  }

  .detailscontainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

.thumbul {
  list-style-type: none;
  padding: 2% 7% 2% 2%;
  margin: 0;
  grid-area: 1 / 1 / 4 / 2;
}

.detailstop {
  grid-area: 1/2/4/5;
  align-self: center;
}

.table {
  grid-area: 4/1/5/5;
}
.thumbheader {
  display: none;
}
}