body {
  font-family: 'Goldman', cursive;
  background-color: white;
  padding: 2%;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.login {
  text-decoration: none;
  color: #3a3a3a;
}

.navlist {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  background-color: #3a3a3a;
  color: white;
  padding: 0;
}

.navlist li {
  list-style: none;
  padding: 2%;
}

.navlist li a {
  font-size: .7em;
}

.navlist li:hover {
  background-color: #4c96d7;
  color: #3a3a3a;
}

footer p {
  text-align: center;
  margin: 0;
}

footer p:first-child {
  margin-top: 5%;
  border-top: 5px #3a3a3a solid;
  padding-top: 1%;
}

.delorean {
  max-width: 100%;
}

.deloreanp {
  margin-bottom: -10%;
  position: relative;
  z-index: 2;
  color: #4c96d7;
}

section p, h3 {
  margin: 0;
  padding: 0;
}

.buttondiv {
  text-align: center;
}

button {
  margin-top: 5%;
  background-color: #4c96d7;
  padding: 2% 5%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: larger;
}

.deloreanreviews ul li {
  line-height: 2;
}

.deloreanupgrades {
  display: flex;
  flex-wrap: wrap;
}

.deloreanupgradesfig {
  background-color: #4c96d7;
  border: 2px solid black;
  padding: 5px 45px;
  width: 75px;
  height: 75px;
  margin: 3%;
}

figure {
  width: 45%;
  text-align: center;
  margin: 1%;
  flex-basis: 40%;
}

figcaption {
  text-decoration: underline;
}

@media only screen and (min-width: 375px) {

  .navlist li a {
    font-size: .8rem;
  }
}

@media only screen and (min-width: 450px) {
  .navlist li a {
    font-size: 1rem;
  }
}

@media only screen and (min-width: 800px) {

  html {
    background-image: url(../images/site/checkerboard.jpg);
  }

  body {
    border: 5px solid #a6cbeb;
  }

  .topcontainer {
    display: grid;
    grid-template: repeat(4, 1fr) / repeat(3, 1fr);
  }

  .deloreanp {
    grid-area: 1 / 1 / 2 / 2;
  }

  .delorean {
    grid-area: 1 / 1 / 5 / 4;
  }

  .buttondiv {
    grid-area: 2 / 1 / 3 / 2;
    text-align: start;
  }

  .bottomcontainer {
    display: grid;
    grid-template: auto / repeat(2, 1fr);
  }

  .upgradecontainer {
    grid-area: 1 / 1 / 2 / 2;
  }

}